<div class="post">
  <div class="post__title"><%=title %> <span class="post__author"> by <%=author %></span></div>
  <div class="post__preview"><%=body%></div>
  <a href="/post/<%=id%>">Read more</a>
</div>