<html>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/style.css">

<header>
  <nav class="nav">
    <div class="nav__brand">
      BLOGO
    </div>
    <ul class="nav__items">
      <li class="nav__item"><a href="/" class="nav__link">Home</a></li>
      <li class="nav__item"><a href="/blog/new" class="nav__link">Create</a></li>
    </ul>
  </nav>
</header>
<main>
  <%=yield %>
</main>

</html>